## 参考: https://wiki.archlinux.org/title/Syslinux

UI vesamenu.c32
TIMEOUT 100
MENU TITLE GQYOS Boot Menu
MENU BACKGROUND GQYOS.png

DEFAULT arch
PROMPT 0

LABEL arch
    MENU LABEL GQYOS Install
    LINUX /boot/vmlinuz-linux
    INITRD /boot/amd-ucode.img,/boot/initramfs-linux.img
    APPEND cryptdevice=UUID=LABEL=GQYOS:root:allow-discards root=/dev/mapper/root rw rootfstype=btrfs

LABEL arch-nvidia
    MENU LABEL GQYOS Install (NVIDIA)
    LINUX /boot/vmlinuz-linux
    INITRD /boot/amd-ucode.img,/boot/initramfs-linux.img
    APPEND cryptdevice=UUID=LABEL=GQYOS:root:allow-discards root=/dev/mapper/root rw rootfstype=btrfs nvidia-drm.modeset=1

LABEL arch-safe
    MENU LABEL GQYOS Install (Safe Mode)
    LINUX /boot/vmlinuz-linux
    INITRD /boot/amd-ucode.img,/boot/initramfs-linux.img
    APPEND cryptdevice=UUID=LABEL=GQYOS:root:allow-discards root=/dev/mapper/root rw rootfstype=btrfs nomodeset
