# GQYOS GRUB 配置
# 参考: https://wiki.archlinux.org/title/Archiso

# 加载主题
loadfont unicode

set gfxmode=auto
insmod all_video
insmod gfxterm
insmod png

terminal_output gfxterm

# GQYOS 壁纸
insmod efi_gop
insmod efi_uga

# 超时
set timeout=10
set default=0

# 主题
set theme=${prefix}/themes/GQYOS/theme.txt
set theme_dir=${prefix}/themes

# 菜单入口
menuentry "GQYOS Install" {
    linux /boot/vmlinuz-linux cryptdevice=UUID=LABEL=GQYOS:root:allow-discards root=/dev/mapper/root rw rootfstype=btrfs
    initrd /boot/amd-ucode.img /boot/initramfs-linux.img
}

menuentry "GQYOS Install (NVIDIA)" {
    linux /boot/vmlinuz-linux cryptdevice=UUID=LABEL=GQYOS:root:allow-discards root=/dev/mapper/root rw rootfstype=btrfs nvidia-drm.modeset=1
    initrd /boot/amd-ucode.img /boot/initramfs-linux.img
}

menuentry "GQYOS Install (Safe Mode)" {
    linux /boot/vmlinuz-linux cryptdevice=UUID=LABEL=GQYOS:root:allow-discards root=/dev/mapper/root rw rootfstype=btrfs nomodeset
    initrd /boot/amd-ucode.img /boot/initramfs-linux.img
}
