# GQYOS GRUB 配置
# Live ISO 引导菜单

set default=0
set timeout=10

loadfont unicode

set gfxmode=auto
insmod all_video
insmod gfxterm
terminal_output gfxterm

# 主题
set theme=/boot/grub/themes/GQYOS/theme.txt

menuentry "GQYOS — 启动 Live 环境" {
  linux /boot/x86_64/vmlinuz-linux archisobasedir=GQYOS archisolocation=latest console=ttyS0,115200n8 console=tty0
  initrd /boot/x86_64/initramfs-linux.img
}

menuentry "GQYOS — 启动 Live 环境 (NVIDIA)" {
  linux /boot/x86_64/vmlinuz-linux archisobasedir=GQYOS archisolocation=latest nvidia-drm.modeset=1 console=ttyS0,115200n8 console=tty0
  initrd /boot/x86_64/initramfs-linux.img
}

menuentry "GQYOS — 启动 Live 环境 (安全模式)" {
  linux /boot/x86_64/vmlinuz-linux archisobasedir=GQYOS archisolocation=latest nomodeset console=ttyS0,115200n8 console=tty0
  initrd /boot/x86_64/initramfs-linux.img
}

menuentry "UEFI 固件设置" {
  fwsetup
}
